*{
    background-color: black;
    color: white;
    font-family: 'Signika Negative', sans-serif;

}

#money{
    font-size: 50px;
    letter-spacing: 1ch;

}
.trailer{
    font-size: 30px;
    
}
p{
    font-size: 30px;
    
}
.btn{
    font-size: 50px;
    background-color: red;
} 