#f1{
    
    color: rgb(230, 56, 56);
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

#f2{
    font-family: cursive;
    font-size:  30px; ;
    text-align: center;
    color: rgb(230, 56, 56);
}
p{ 
    color:rgb(25, 44, 218);
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    
}



.container{
    text-align: center;
    
}

.tud{
color:black;
font-family: cursive;
}





.list{
    background-color:pink;
    font-size: 30px;
    border: 2px solid red;
   text-align: center;
   font-family: cursive;
}

.copyright{

    color: black;
    font-family: cursive;
   
}

.movie{
  letter-spacing:1ch;
    color: black;
    text-align: center;
    font-family:cursive ;
    font-size: 30px;
}
.webseries{
    background-color:pink;
    font-size: 30px;
    border: 2px solid red;
   text-align: right;
   font-family: cursive;
}
.web{
    font-family: cursive;
    font-size:30px ;
    letter-spacing: 1ch;
}