*{
    background-color: black;
}
#trail{
    color: white;
    font-family: 'IM Fell English', serif;
    font-size: 30px;
}
.download{
    font-family: 'IM Fell English', serif;
    font-size: 50px;
    color: white;
}